accelerate==1.0.1
bert_score==0.3.13
datasets==3.0.1
einops==0.8.0
evaluate==0.4.3
nltk==3.9.1
openai==1.55.3
optimum==1.23.1
pre-commit==4.0.1
rouge_score==0.1.2
sacrebleu==2.4.3
sentence_transformers==3.2.0
tenacity==9.0.0
tokenizers==0.20.1
tqdm==4.66.5
transformers==4.45.2
vec2text==0.0.12
